<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Delete Post</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <script>
        $(function () {
            $.fn.limit = function ($n) {
                this.each(function () {
                    var allText = $(this).html();
                    var tLength = $(this).html().length;
                    var startText = allText.slice(0, $n);
                    if (tLength >= $n) {
                        $(this).html(startText + '...');
                    } else {
                        $(this).html(startText);
                    }
                    ;
                });

                return this;
            }
            $('.menu form').limit(120);

        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/posts/">List Post<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/categories/">List Category<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/posts/create">Create post <span class="sr-only"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout (<span sec:authentication="principal.username"/>)</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <form th:action="@{/admin/posts/delete/__${post.id}__}" th:object="${post}"
          method="post">
        <div class="menu">
            <div class="form-group row">
                <label class="col-md-2">Title</label>
                <div class="col-md-10">
                    <span th:text="${post.title}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Description</label>
                <div class="col-md-10">
                    <span th:text="${post.description}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Image</label>
                <div class="col-md-10">
                    <img th:src="@{/upload/__${post.imageUrl}__}" height="100" width="100">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Category</label>
                <div class="col-md-10">
                    <span th:text="${post.category.name}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2">Content</label>
                <div class="col-md-10">
                    <span th:text="${post.content}"></span>
                </div>
            </div>
            <tr>
                <td><input type="submit" class="btn-primary" value="Delete"></td>
            </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>