<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style type="text/css">
        .menu {
            padding-top: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>List post</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/view-detail/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/view-detail/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/view-detail/css/templatemo-style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/posts/">List Post<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/categories/">List Category<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/posts/create">Create post <span class="sr-only"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search By Title" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout (<span sec:authentication="principal.username"/>)</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="menu">
        <p>
            <th:block th:if="${message}">
                <span th:text="${message}"></span>
            </th:block>
        </p>
        <table class="table">
            <thead>
            <th>Index</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Date</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <th:block th:each="post, inter : ${posts}">
                <tr>
                    <td th:text="${inter.count}"></td>
                    <td>
                        <a th:href="@{/view-post/__${post.id}__}" th:text="${post.title}"></a>
                    </td>
                    <td th:text="${post.description}"></td>
                    <td>
                        <img th:src="@{/upload/__${post.imageUrl}__}" height="100" width="100">
                    </td>
                    <td th:text="${#dates.format(post.createdDate, 'dd-MM-yyyy')}"></td>
                    <td><span th:if="${post.category}" th:text="${post.category.name}"></span></td>
                    <td><a th:href="@{/admin/posts/edit/__${post.id}__}">Edit</a></td>
                    <td><a th:href="@{/admin/posts/delete/__${post.id}__}">Delete</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div style="text-align: center">
    <a th:href="@{/admin/posts(page=${posts.number - 0})}" th:if="${posts.hasPrevious()}">Previous</a>
    <span th:text="${posts.number + 1}"></span>/<span th:text="${posts.totalPages}"></span>
    <a th:href="@{/admin/posts(page=${posts.number + 2})}" th:if="${posts.hasNext()}">Next</a>
</div>

<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>TranAnhTuan &copy; 2019. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>(+66) 010-020-0340</span></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/trananh.tuan.5661" class="fa fa-facebook-square"
                                   attr="facebook icon"></a></li>
                            <li><a href="https://twitter.com" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/anh_tuan.95" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
</body>
</html>