<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Blog-Tuan</title>
    <!--
    Hydro Template
    http://www.templatemo.com/tm-509-hydro
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/assets/view-detail/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/view-detail/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/view-detail/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/view-detail/css/templatemo-style.css">
</head>
<body>

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="/" class="navbar-brand">Blog</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#blog-header" class="smoothScroll">Home</a></li>
                <!--<li><a href="index.html#about" class="smoothScroll">About</a></li>-->
                <!--<li><a href="index.html#blog" class="smoothScroll">Blog</a></li>-->
                <!--<li><a href="index.html#work" class="smoothScroll">Our Work</a></li>-->
                <!--<li><a href="index.html#contact" class="smoothScroll">Contacts</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.facebook.com/trananh.tuan.5661"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/anh_tuan.95"><i class="fa fa-instagram"></i></a></li>
                <li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Sign in / Join</a>
                </li>
            </ul>
        </div>

    </div>
</section>


<!-- BLOG HEADER -->
<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>Do you Know What Thing Really Makes Artist Nowadays?</h2>
            </div>

        </div>
    </div>
</section>


<!-- BLOG DETAIL -->
<section id="blog-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <!-- BLOG THUMB -->
                <div class="blog-detail-thumb">
                    <div class="blog-image" style="clear: both; text-align: center">
                        <img th:src="@{/upload/__${post.imageUrl}__}" class="img-responsive" alt="Blog Image">
                    </div>
                    <h2>
                        <span th:text="${post.title}"></span>
                    </h2>
                    <p>
                        <span th:text="${post.content}"></span>
                    </p>

                    <!--<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quisquam, aut, eum, natus excepturi impedit ipsa rerum ratione id dolores ducimus minus eos veniam similique.</blockquote>-->

                    <!--<p>Vivamus quis velit sed ante suscipit aliquam nec sed ex. Maecenas porta leo at mi suscipit congue. Donec ipsum metus, tristique eu leo ut, luctu Vivamus sit amet purus nec risus mollis tempor.</p>-->

                    <!--<div class="blog-ads">-->
                    <!--<h4>Blog Sample Advertising</h4>-->
                    <!--</div>-->

                    <!--<ul>-->
                    <!--<li>Brand Identity ipsum dolor eget vestibulum justo imper diet.</li>-->
                    <!--<li>Social Marketing porta leo at mi suscipit congue. Donec ipsum metus, tristique leo luctus.</li>-->
                    <!--<li>Wordpress Themes augue vulputate voluptate neque, curabitur dolor vitae massa.</li>-->
                    <!--</ul>-->
                    <div class="blog-social-share">
                        <h4>Share this article</h4>
                        <a href="https://www.facebook.com" class="btn btn-primary"><i
                                class="fa fa-facebook"></i>facebook</a>
                        <a href="https://twitter.com" class="btn btn-success"><i class="fa fa-twitter"></i>twitter</a>
                        <a href="https://plus.google.com" class="btn btn-danger"><i class="fa fa-google-plus"></i>google
                            plus</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- FOOTER -->
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <!--<div class="col-md-5 col-sm-12">-->
                <!--<div class="footer-thumb footer-info">-->
                    <!--<h2>Hydro Company</h2>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut-->
                        <!--labore et dolore magna aliqua.</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-2 col-sm-4">-->
                <!--<div class="footer-thumb">-->
                    <!--<h2>Company</h2>-->
                    <!--<ul class="footer-link">-->
                        <!--<li><a href="#">About Us</a></li>-->
                        <!--<li><a href="#">Join our team</a></li>-->
                        <!--<li><a href="#">Read Blog</a></li>-->
                        <!--<li><a href="#">Press</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-2 col-sm-4">-->
                <!--<div class="footer-thumb">-->
                    <!--<h2>Services</h2>-->
                    <!--<ul class="footer-link">-->
                        <!--<li><a href="#">Pricing</a></li>-->
                        <!--<li><a href="#">Documentation</a></li>-->
                        <!--<li><a href="#">Support</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 col-sm-4">-->
                <!--<div class="footer-thumb">-->
                    <!--<h2>Find us</h2>-->
                    <!--<p>123 Grand Rama IX, <br> Krung Thep Maha Nakhon 10400</p>-->
                <!--</div>-->
            <!--</div>-->

            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>TranAnhTuan &copy; 2019. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>(+66) 010-020-0340</span></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- MODAL -->
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-popup">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--<div class="modal-body">-->
                <!--<div class="container-fluid">-->
                    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->

                        <!--&lt;!&ndash;&lt;!&ndash;<div class="col-md-12 col-sm-12">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<div class="modal-title">&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<h2>Hydro Co</h2>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->

                            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; NAV TABS &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<ul class="nav nav-tabs" role="tablist">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                                      <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;data-toggle="tab">Create an account</a></li>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</ul>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

                            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; TAB PANES &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<div class="tab-content">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<div role="tabpanel" class="tab-pane fade in active" id="sign_up">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<form action="#" method="post">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="text" class="form-control" name="name" placeholder="Name" required>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="telephone" class="form-control" name="telephone"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                               <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;placeholder="Telephone" required>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="email" class="form-control" name="email" placeholder="Email"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                               <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;required>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="password" class="form-control" name="password"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                               <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;placeholder="Password" required>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="submit" class="form-control" name="submit" value="Submit Button">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</form>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

                                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<div role="tabpanel" class="tab-pane fade in" id="sign_in">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<form action="#" method="post">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="email" class="form-control" name="email" placeholder="Email"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                               <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;required>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="password" class="form-control" name="password"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                               <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;placeholder="Password" required>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<input type="submit" class="form-control" name="submit" value="Submit Button">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<a href="https://www.facebook.com/templatemo">Forgot your password?</a>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</form>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->

                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="/assets/view-detail/js/jquery.js"></script>
<script src="/assets/view-detail/js/bootstrap.min.js"></script>
<script src="/assets/view-detail/js/jquery.stellar.min.js"></script>
<script src="/assets/view-detail/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/view-detail/js/smoothscroll.js"></script>
<script src="/assets/view-detail/js/custom.js"></script>

</body>
</html>