<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <title>Blog-Tuan</title>
    <!--
    Hydro Template
    http://www.templatemo.com/tm-509-hydro
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/assets/view-detail/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/view-detail/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/view-detail/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/view-detail/css/templatemo-style.css">
</head>
<body>

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="/" class="navbar-brand">Blog</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#blog-header" class="smoothScroll">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.facebook.com/trananh.tuan.5661"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/anh_tuan.95"><i class="fa fa-instagram"></i></a></li>
                <li class="section-btn"><a href="/" data-toggle="modal" data-target="#modal-form">Tuấn</a>
                </li>
            </ul>
        </div>

    </div>
</section>


<!-- BLOG HEADER -->
<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>Do you Know What Thing Really Makes Artist Nowadays?</h2>
            </div>

        </div>
    </div>
</section>


<!-- BLOG DETAIL -->
<section id="blog-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <!-- BLOG THUMB -->
                <div class="blog-detail-thumb">
                    <div class="blog-image" style="clear: both; text-align: center">
                        <img th:src="@{/upload/__${post.imageUrl}__}" class="img-responsive" alt="Blog Image">
                    </div>
                    <h2>
                        <span th:text="${post.title}"></span>
                    </h2>
                    <p>
                        <span th:text="${post.content}"></span>
                    </p>
                    <div class="blog-social-share">
                        <h4>Share this article</h4>
                        <a href="https://www.facebook.com" class="btn btn-primary"><i
                                class="fa fa-facebook"></i>facebook</a>
                        <a href="https://twitter.com" class="btn btn-success"><i class="fa fa-twitter"></i>twitter</a>
                        <a href="https://plus.google.com" class="btn btn-danger"><i class="fa fa-google-plus"></i>google
                            plus</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- FOOTER -->
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>TranAnhTuan &copy; 2019. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>(+66) 010-020-0340</span></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/trananh.tuan.5661" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="https://twitter.com" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/anh_tuan.95" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- SCRIPTS -->
<script src="/assets/view-detail/js/jquery.js"></script>
<script src="/assets/view-detail/js/bootstrap.min.js"></script>
<script src="/assets/view-detail/js/jquery.stellar.min.js"></script>
<script src="/assets/view-detail/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/view-detail/js/smoothscroll.js"></script>
<script src="/assets/view-detail/js/custom.js"></script>

</body>
</html>